<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application>
        <activity
            android:name="com.madhavashram.agnihotratimetable.PDFViewerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_pdfviewer"
            android:parentActivityName="com.madhavashram.agnihotratimetable.views.MainActivity"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.madhavashram.agnihotratimetable.views.MainActivity" />
        </activity>
    </application>

</manifest>
